services:
  # Application Next.js
  transcription-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: transcription_app
    ports:
      - "3000:3000"
    restart: unless-stopped
    env_file:
      - .env
    # environment:
    #   # URL pour que l'app se connecte à la BDD et à l'IA
    #   DATABASE_URL
    #   OLLAMA_API_URL
    #
    #   # NextAuth cléé secrète générée avec openssl rand -base64 32
    #   NEXTAUTH_SECRET
    #   NEXTAUTH_URL
    #
    #   # Transporteur gmail
    #   SMTP_HOST
    #   SMTP_PORT
    #   SMTP_SECURE
    #   SMTP_USER
    #   SMTP_PASS
    depends_on:
      - db
      - ollama
    networks:
      - transcription_net

  # Base de données PostgreSQL
  db:
    image: postgres:17.5
    container_name: transcription_db
    environment:
      POSTGRES_PASSWORD: transcription
      POSTGRES_USER: transcription
      POSTGRES_DB: transcription_db
      PGUSER: transcription
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    networks:
      - transcription_net

  # Interface PGAdmin
  pgadmin:
    image: dpage/pgadmin4
    container_name: transcription_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: transcription@admin.com
      PGADMIN_DEFAULT_PASSWORD: transcription
    ports:
      - "8101:80"
    volumes:
      - ./servers.json:/pgadmin4/servers.json
    depends_on:
      - db
    networks:
      - transcription_net

  # Service d'IA local (Ollama)
  ollama:
    build:
      context: .
      dockerfile: Dockerfile.ollama
    container_name: ollama_service
    volumes:
      - ollama_data:/root/.ollama
    ports:
      - "11434:11434"
    networks:
      - transcription_net

networks:
  transcription_net:
    driver: bridge

volumes:
  postgres_data:
  ollama_data:
