services:
  transcribe-app:
    build: .
    container_name: transcribe_app
    ports:
      - "3000:3000"
    # Redémarre automatiquement le conteneur en cas de problème
    restart: unless-stopped
    # Variables d'environnement dans .env, le fichier est à la racine
    environment:
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
